 <!-- banner__area-start -->
 
{% load static %}

<section class="banner__area pt-20 pb-10">
   
    <div class="container">
        
        <div class="row">
          
                <div class="col-xl-4 col-lg-4 col-md-6">
                    {% for ban in banner %} 
                    <div class="banner__item p-relative w-img mb-30">
                     
                        <div class="banner__img">
                            <a href="product-details.html"><img src="{{ ban.image.url }}" alt="">
 
                        </div>
                        <div class="banner__content">
                            <h6><a href="product-details.html">{{ ban.title }} <br></a></h6>
                            <p>{{ ban.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
           
        </div> <!-- Close the row div here -->
       
    </div> <!-- Close the container div here -->
   
 </section>

<!-- banner__area-end -->
