 <!-- topsell__area-start -->
 {% load static %}
 {% load productsinfo %}
 
 <section class="topsell__area-1 pt-15">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__head d-flex justify-content-between mb-10">
                    <div class="section__title">
                        <h5 class="st-titile-d">Top Deals Of The Day</h5>
                    </div>
                    <div class="offer-time">
                        <span class="offer-title d-none d-sm-block">Hurry Up! Offer ends in:</span>
                        <div class="countdown">
                            <div class="countdown-inner b-radius" data-countdown="" data-date="Mar 02 2022 20:20:22">
                                <ul class="text-center">
                                    <li><span data-days="">36</span> Days</li>
                                    <li><span data-hours="">8</span> Hours</li>
                                    <li><span data-minutes="">16</span> Mins</li>
                                    <li><span data-seconds="">54</span> Secs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product-bs-slider">
                <div class="product-slider swiper-container">
                    <div class="swiper-wrapper">
                        {% for pro in products %}
                        <div class="product__item swiper-slide" >
                            <div class="product__thumb fix"  >
                                <div class="product-image w-img " >
                                    <a href="{{pro.slug}}">
                                        <img src="{{pro.featured_image}}" style="height:300px;width:250px;" alt="product">
                                    </a>
                                </div>
                                <div class="product__offer">
                                <span class="discount">{{pro.discount}}</span>
                                </div>
                                <div class="product-action">
                                    <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModalId-{{forloop.counter}}">
                                        <i class="fal fa-eye"></i>
                                        <i class="fal fa-eye"></i>
                                    </a>
                                    <a href="#" class="icon-box icon-box-1">
                                        <i class="fal fa-heart"></i>
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" class="icon-box icon-box-1">
                                        <i class="fal fa-layer-group"></i>
                                        <i class="fal fa-layer-group"></i>
                                    </a>
                                </div>
                            </div>
                         
                            <div class="product__content">
                                <h6><a href="{{pro.slug}}">{{pro.name|truncatechars:50}}</a></h6>
                                <div class="rating mb-5">
                                    <ul>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    </ul>
                                    <span>(01 review)</span>
                                </div>
                                <div class="price mb-10">
                                    <span>₹{{pro.price}}</span>
                                </div>
                                <div class="progress mb-5">
                                   <div class="progress-bar bg-danger" role="progressbar" style="width: {% progress_percentage pro.available pro.total %}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>

                                </div>
                                <div class="progress-rate">
                                    <span>Sold:{{pro.available}}/{{pro.total}}</span>
                                </div>
                            </div>
                            <div class="product__add-cart text-center">
                                <button type="button" class="cart-btn product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                                Add to Cart
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- If we need navigation buttons -->
                <div class="bs-button bs-button-prev"><i class="fal fa-chevron-left"></i></div>
                <div class="bs-button bs-button-next"><i class="fal fa-chevron-right"></i></div>
            </div>
        </div>
    </div>
</section>
<!-- topsell__area-end -->



 <!-- shop modal start -->
  {% for pro in products %}
 <div class="modal fade" id="productModalId-{{forloop.counter}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered product__modal" role="document">
        <div class="modal-content">
            <div class="product__modal-wrapper p-relative">
                <div class="product__modal-close p-absolute">
                    <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                </div>
                <div class="product__modal-inner">
                    <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="product__modal-box">
                            <div class="tab-content" id="modalTabContent">
                                <div class="tab-pane fade show active" id="nav-first" role="tabpanel" aria-labelledby="nav-first-tab">
                                    <div class="product__modal-img w-img">
                                        <img src="{{pro.featured_image}}" alt="">
                                    </div>
                                </div>
                                {% for proimage in pro.additional_image_set.all %}
                                  
                                <div class="tab-pane fade" id="nav-{{proimage.id}}" role="tabpanel" aria-labelledby="nav-{{proimage.id}}-tab">
                                    <div class="product__modal-img w-img">
                                        <img src="{{proimage.images}}" alt="">

                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        
                            <ul class="nav nav-tabs" id="modalTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="nav-first-tab" data-bs-toggle="tab" data-bs-target="#nav-first" type="button" role="tab" aria-controls="nav-first" aria-selected="true">
                                        <img src="{{pro.featured_image}}" alt="" style="width: 85px; height: 85px;">
                                    </button>
                                </li>
                                {% for proimage in pro.additional_image_set.all %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link " id="nav-{{proimage.id}}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{proimage.id}}" type="button" role="tab" aria-controls="nav-{{proimage.id}}" aria-selected="false">
                                    <img src="{{ proimage.images }}" alt="" style="width: 85px; height: 85px;">
                                    </button>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="product__modal-content">
                            <h4><a href="{{pro.slug}}">{{pro.name|truncatewords:15}}</a></h4>
                            <div class="product__review d-sm-flex">
                                <div class="rating rating__shop mb-10 mr-30">
                                <ul>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                </ul>
                                </div>
                                <div class="product__add-review mb-15">
                                <span>01 review</span>
                                </div>
                            </div>
                            <div class="product__price">
                                <span>₹{{pro.price}}</span>
                            </div>
                            <div class="product__modal-des mt-20 mb-15">
                                <ul>
                                    {{pro.description|safe|truncatewords_html:30}} 

                                </ul>
                            </div>
                            <div class="product__stock mb-20">
                                <span class="mr-10">Availability :</span>
                                <span>{{pro.available}} in stock</span>
                            </div>
                            <div class="product__modal-form">
                                <form action="#">
                               
                                    <div class="pro-cart-btn mb-25">
                                        <button class="cart-btn" type="submit">Add to cart</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                            <div class="product__stock mb-30">
                                <ul>
                                    {% for proin in pro.additional_information_set.all|slice:"0:3" %}
                                    <li><div>
                                        <span class="sku mr-10">{{proin.title}}:</span>
                                        <span>{{proin.spec}}</span></div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- shop modal end -->